.apropos{
    text-align: center;
    font-family: Montserrat;
    font-size: 2.5rem;
    a{
        color : red;
    }
    .premier{
        margin-top: 15%;
        margin-bottom: 5%;
    }
    .second{
        margin-bottom: 5%;
    }
    .troisieme{
        margin-bottom: 5%;
    }
    .divButton{
        margin-top: 5%;
        padding-bottom: 10%;
        font-size: 1rem;
        text-transform: uppercase;
        a{
            color: black;
        }
        a:hover{
            color: red;
            border-bottom: 5px solid red;
        }
    }
}
