$inline : inline ;
$fontSize : 2rem;
$fontFamily : Montserrat ;
$color : red ;

#contact{
    text-align: center;
    font-size : $fontSize ;
    font-family : $fontFamily ;
    margin-top: 5%;
    p{
        display :inline;
    }
    input{
        display : inline ;
        color : $color;
        font-size: 2rem;
        width : 27%;
        border : none ;
        box-shadow: none ;
        border-bottom: 1px solid $color ;
        margin-right: 2%;
        margin-left: 2%;
    }
    i{
        color : $color ;
        font-size: 1rem;
        margin-right: 1%;
    }
    .error{
        font-size: 0.8rem;
    }
    #obligation{
        display: block;
    }
    #formPremiere{
        margin-top: 5%;
    }
    #formTroisieme{
        margin-bottom: 5%;
        select{
            display : inline ;
            width : 25% ;
            height: auto;
            color : $color ;
            border : none;
            padding-right: 0;
            box-shadow: none ;
            font-size: 2rem;
            appearance:none;
            -moz-appearance:none; /* Firefox */
            -webkit-appearance: none;
            background: url(../images/arrow-down.png) no-repeat right;
            background-position-x: 220px;
        }
        select:focus{
            outline: none;
            border : none;
        }
    }
    .bye{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    #formButton{
        font-size: 0.8rem;
        margin-top: 7%;
        margin-bottom: 5%;
        button{
            text-transform: uppercase;
            padding-bottom: 3%;
            border-bottom: 5px solid transparent;
        }
        button:hover{
            color: red;
            border-bottom: 5px solid red;
        }
    }

}
